{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Password Change Page {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
          <h2>Parolni o'zgartirish</h2><br>
          <h4>Parolingizni o'zgartirish uchun quyidagi formani to'ldiring </h4><br>
          <form method="post">{% csrf_token %}
              {{ form.as_p }}
              <p><button type="submit" class="btn btn-success ml-2">change password</button></p>
          </form>
      </div>
    </div>
  </section>
{% endblock %}