{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Password Reset Done Page {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
          <h2>A password reset email has been sent </h2>
         <p>To change your password, a password reset link has been sent to your email </p>
          <p>If you did not receive the email, please <a href="{% url 'password_reset' %}">try again</a></p>
      </div>
    </div>
  </section>
{% endblock %}
