{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Password Recovery Page {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
          <h2>Password Recovery</h2>
          <br>
          <p>Enter your email address to reset your password </p>
          <form method="post">{% csrf_token %}
              {{ form.as_p }}
          </form>
          <button type="submit" class="btn btn-success ml-2">Send Email</button>
      </div>
    </div>
  </section>
{% endblock content %}