{% extends 'pages/base.html' %}
{% load static %}
{% block title %} Reset User Password Page {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
          <h2>Reset User Password</h2>
          <p>To change your password, fill out the form below</p>
          {% if validlink %}
              <p>Please enter the password twice</p>
              <form method="post">{% csrf_token %}
                 {{ form.as_p }}
              <button type="submit" class="btn btn-success ml-2">change password</button>
              </form>
          {% else %}
              <p>You used the wrong link, it may have expired </p>
          {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
